RAG-Pipeline/__pycache__/
RAG-Pipeline/*.py[cod]
RAG-Pipeline/*$py.class
RAG-Pipeline/*.so
RAG-Pipeline/.Python
RAG-Pipeline/build/
RAG-Pipeline/develop-eggs/
RAG-Pipeline/dist/
RAG-Pipeline/downloads/
RAG-Pipeline/eggs/
RAG-Pipeline/.eggs/
RAG-Pipeline/lib/
RAG-Pipeline/lib64/
RAG-Pipeline/parts/
RAG-Pipeline/sdist/
RAG-Pipeline/var/
RAG-Pipeline/wheels/
RAG-Pipeline/share/python-wheels/
RAG-Pipeline/*.egg-info/
RAG-Pipeline/.installed.cfg
RAG-Pipeline/*.egg
RAG-Pipeline/MANIFEST
RAG-Pipeline/*.manifest
RAG-Pipeline/*.spec
RAG-Pipeline/pip-log.txt
RAG-Pipeline/pip-delete-this-directory.txt
RAG-Pipeline/htmlcov/
RAG-Pipeline/.tox/
RAG-Pipeline/.nox/
RAG-Pipeline/.coverage
RAG-Pipeline/.coverage.*
RAG-Pipeline/.cache
RAG-Pipeline/nosetests.xml
RAG-Pipeline/coverage.xml
RAG-Pipeline/*.cover
RAG-Pipeline/*.py,cover
RAG-Pipeline/.hypothesis/
RAG-Pipeline/.pytest_cache/
RAG-Pipeline/cover/
RAG-Pipeline/*.mo
RAG-Pipeline/*.pot
RAG-Pipeline/*.log
RAG-Pipeline/local_settings.py
RAG-Pipeline/db.sqlite3
RAG-Pipeline/db.sqlite3-journal
RAG-Pipeline/instance/
RAG-Pipeline/.webassets-cache
RAG-Pipeline/.scrapy
RAG-Pipeline/docs/_build/
RAG-Pipeline/.pybuilder/
RAG-Pipeline/target/
RAG-Pipeline/.ipynb_checkpoints
RAG-Pipeline/profile_default/
RAG-Pipeline/ipython_config.py
RAG-Pipeline/.pdm.toml
RAG-Pipeline/.pdm-python
RAG-Pipeline/.pdm-build/
RAG-Pipeline/__pypackages__/
RAG-Pipeline/celerybeat-schedule
RAG-Pipeline/celerybeat.pid
RAG-Pipeline/*.sage.py
RAG-Pipeline/.env
RAG-Pipeline/.venv
RAG-Pipeline/env/
RAG-Pipeline/venv/
RAG-Pipeline/ENV/
RAG-Pipeline/env.bak/
RAG-Pipeline/venv.bak/
RAG-Pipeline/.spyderproject
RAG-Pipeline/.spyproject
RAG-Pipeline/.ropeproject
RAG-Pipeline//site
RAG-Pipeline/.mypy_cache/
RAG-Pipeline/.dmypy.json
RAG-Pipeline/dmypy.json
RAG-Pipeline/.pyre/
RAG-Pipeline/.pytype/
RAG-Pipeline/cython_debug
RAG-Pipeline/.ruff_cache/
RAG-Pipeline/.pypirc
RAG-Pipeline/.cursorignore
RAG-Pipeline/.cursorindexingignore
RAG-Pipeline/vector_db


# front 

rag-chat-ui/node_modules
rag-chat-ui/.pnp
rag-chat-ui/.pnp.js
rag-chat-ui/coverage
rag-chat-ui/build
rag-chat-ui/.DS_Store
rag-chat-ui/.env.local
rag-chat-ui/.env.development.local
rag-chat-ui/.env.test.local
rag-chat-ui/.env.production.local
rag-chat-ui/npm-debug.log*
rag-chat-ui/yarn-debug.log*
rag-chat-ui/yarn-error.log*
